---
import Root from "../layouts/root.astro";
---

<Root>
  <h1>Hare Instagram Post Creator</h1>
  <form action="/generate">
    <input type="text" name="article" placeholder="article" />
    <button type="submit">Submit</button>
  </form>
</Root>
