---
import {
  ChevronLeftIcon,
  ChevronRightIcon,
  ExclamationTriangleIcon,
} from "@radix-ui/react-icons";
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import { Link } from "~/components/ui/link";
import Root from "../layouts/root.astro";
import { getRecentArticles } from "../lib/get-recent-articles";

const pageParam = Number(Astro.url.searchParams.get("page") ?? "1");
const page = isNaN(pageParam) || pageParam < 0 ? 1 : pageParam;

const error = Astro.url.searchParams.get("error") !== null;
const articles = await getRecentArticles(page);
---

<Root>
  <h2 class="pb-2 font-semibold">Paste an article link to get started:</h2>

  <form action="/generate" class="ml-4 flex gap-2">
    <Input
      type="text"
      name="article"
      placeholder="Article Link"
      className="max-w-72 font-mono"
    />
    <Button type="submit">
      Submit
      <ChevronRightIcon />
    </Button>
  </form>

  {
    error && (
      <div class="ml-4 flex items-center gap-2 pt-2 text-sm font-medium text-red-500">
        <ExclamationTriangleIcon className="mt-0.5" />
        <span>Please double check your link and try again</span>
      </div>
    )
  }

  <h2 class="pb-2 pt-8 font-semibold">
    Or, start from one of our recent articles:
  </h2>

  {
    articles ? (
      <>
        <ul class="ml-4 pb-2">
          {articles.map((article) => (
            <li class="flex pb-1">
              <span
                set:html={article.date}
                class="w-16 shrink-0 text-nowrap pr-4 text-muted-foreground"
              />
              <a
                class="underline decoration-muted-foreground hover:text-muted-foreground"
                href={"/generate?article=" + article.link}
                set:html={article.title}
              />
            </li>
          ))}
        </ul>

        <div class="ml-4 flex max-w-fit gap-4 border-t pt-2 text-muted-foreground">
          {page > 1 && (
            <a href={`/?page=${page - 1}`}>
              <ChevronLeftIcon className="inline mb-0.5" />
              <span class="underline">Previous</span>
            </a>
          )}
          <p>Page {page}</p>
          <a href={`/?page=${page + 1}`}>
            <span class="underline">Next</span>
            <ChevronRightIcon className="inline mb-0.5" />
          </a>
        </div>
      </>
    ) : (
      <div class="ml-4 flex items-center gap-2 text-sm font-medium text-red-500">
        <ExclamationTriangleIcon className="mt-0.5" />
        <span>Cannot get recent articles</span>
      </div>
    )
  }

  <h2 class="pb-2 pt-8 font-semibold">
    Or, create a custom post for unpublished or draft articles:
  </h2>

  <Link variant="secondary" href="/custom" className="ml-4">
    Open Custom Post creator
    <ChevronRightIcon />
  </Link>
</Root>
