---
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import Root from "../layouts/root.astro";
import { getRecentArticles } from "../lib/getRecentArticles";

const articles = await getRecentArticles();
---

<Root>
  <p class="pb-2 font-semibold">Paste an article link to get started:</p>
  <form action="/generate" class="flex gap-2">
    <Input
      type="text"
      name="article"
      placeholder="Article Link"
      className="max-w-72 font-mono"
    />
    <Button type="submit">Submit</Button>
  </form>

  <br />

  <p class="pb-2 font-semibold">Or, start from one of our recent articles:</p>

  <ul class="list-inside list-disc">
    {
      articles ? (
        articles.map((article) => (
          <li>
            <a
              href={"/generate?article=" + article.link}
              class="underline transition-opacity hover:opacity-60"
              set:html={article.title}
            />
          </li>
        ))
      ) : (
        <p>Cannot get recent articles.</p>
      )
    }
  </ul>
</Root>
