---
import "~/styles/globals.css";
import "@fontsource/source-serif-pro/400.css";
import "@fontsource/source-serif-pro/600.css";
import "@fontsource/source-serif-pro/700.css";
import "@fontsource/source-serif-pro/400-italic.css";
import "@fontsource/source-serif-pro/600-italic.css";
import "@fontsource/source-serif-pro/700-italic.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hareware: Instagram Post Creator</title>
  </head>

  <body class="m-4 md:m-8">
    <nav>
      <div class="flex flex-wrap items-end gap-4">
        <a href="/" tabindex="-1">
          <img
            src="/hareware-banner.png"
            alt="Hareware Banner"
            class="h-16 dark:grayscale dark:invert"
          />
        </a>

        <div class="flex flex-col gap-1">
          <div class="flex items-center gap-2">
            <a href="/">
              <h1 class="text-2xl font-bold leading-none">
                Instagram Post Creator
              </h1>
            </a>
            <span class="rounded-md border p-1 text-sm leading-none">BETA</span>
          </div>

          <div class="text-sm leading-none">
            by Zachary Robinson · View Project on
            <a
              href="https://github.com/zsrobinson/hareware"
              class="text-sm leading-none underline"
            >
              GitHub
            </a>
          </div>
        </div>
      </div>

      <br />
      <hr />
      <br />
    </nav>

    <slot />
  </body>
</html>
